body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);
}

.logo {
    width: 250px;
    margin: auto;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h5{
    text-align: center;
    color: rgb(236, 255, 63);
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left; /* Align text to the left */
    margin-left: 60px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #ffff;
}

.username_txtbox{
    border: 1px solid none;
    background-color: rgb(255, 255, 255) ;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 20%;
    
}
.username_txtbox input{
    background: none;
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    color: black;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.username_txtbox input[type="text"] {
    height: 30px; /* Adjust the height as needed */
}
.password_txtbox{
    border: 1px solid none;
    background-color: rgb(255, 255, 255) ;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 20%;
}
.password_txtbox input{
    background: none;
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    color: black;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.password_txtbox input[type="text"] {
    height: 30px; /* Adjust the height as needed */
}
.loginBtn{
    height: 50px;
    width: 40%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
}
.loginBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.form-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
  
  .login-header{
    margin-top: 15%;
  }
  .login-form{
    width: 400px;
    height: 550px;
}
.login-body {
    margin-top: 5%;
}
  form {
    background-color: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);
    border-radius: 5%;
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.637) 0px 1px 4px;
  }

  .GoBackBtn {
    height: 50px;
    width: 40%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
}

.GoBackBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.button-cont {
    margin-top: 10%;
}