body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #053d02, #187f13, #18d22e, #60ff04);
}

.img_container {
    text-align: center;
    width: 400px;
    /* Adjust the width of the container as needed */
    height: 300px;
    /* Adjust the height of the container as needed */
    margin: 0 auto;
    /* Center the container horizontally */
    margin-bottom: 5px;
    /* Adjust margin as needed */
}

.img_container img {
    max-width: 100%;
    /* Set the maximum width of the image to 100% of the container */
    max-height: 100%;
    /* Set the maximum height of the image to 100% of the container */
}

h6 {
    text-align: center;
    margin-bottom: 5px;
    color: yellow;
    font-size: 20px;
    font-family: cursive;
    font-weight: 400;
}

.h6-cont {

    margin-top: 10px;
}

.dashboard_container {
    text-align: center;
    margin-top: 10%;
}

.validateBtn {
    height: 40px;
    width: 35%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.validateBtn:hover {
    background-color: #0bd830;
    background-position: center;
    font-size: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.scanQR {
    height: 40px;
    width: 35%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.scanQR:hover {
    background-color: #0bd830;
    background-position: center;
    font-size: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.addUser {
    height: 40px;
    width: 35%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.addUser:hover {
    background-color: #0bd830;
    background-position: center;
    font-size: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.LogoutBtn {
    height: 40px;
    width: 35%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    cursor: pointer;
    border-radius: 30px;
}

.LogoutBtn:hover {
    background-color: #0bd830;
    background-position: center;
    font-size: 10px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.login-header {
    margin-top: 15%;
}

.login-form {
    width: 400px;
    height: 550px;
}

form {
    background-color: linear-gradient(to bottom, #053d02, #187f13, #18d22e, #60ff04);
    border-radius: 5%;
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.637) 0px 1px 4px;
}

.logo {
    width: 250px;
    margin: auto;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.adminLogo {
    width: 250px;
    margin: auto;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}