        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background: linear-gradient(to bottom, #053d02, #187f13, #18d22e, #60ff04);
        }
        .container {
            width: 650px;
            height: max-content;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.8); /* 80% transparent white */
        }
        .container .row {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .form-control {
            width: 100%;
        }
        .btn2 , .btn1{
            text-decoration: none;
            height: 45px;
            width: calc(50% - 5px); /* Adjust width to accommodate margin */
            margin: 10px 5px 30px; /* Shorthand for margin properties */
            display: inline-block; /* Set display to inline-block */
            border: none;
            outline: none;
            background: #053d02;
            background-size: 200%;
            color: white;
            font-size: 10px;
            cursor: pointer;
            border-radius: 50px;
            text-align: center;
            line-height: 45px; 
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .btn2:hover , .btn1:hover{
            background-color: #0bd830;
            background-position: right;
            font-size: 10px;
            color: gray;
        }

        .btn1, .btn2 {
            width: calc(50% - 5px); /* Adjust width to accommodate margin */
        }
        
        .btn1 {
            margin-right: 5px;
        }
        
        .GoBackBtn {
            height: 60px;
            width: 35%;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            border: none;
            outline: none;
            background: #053d02;
            background-size: 200%;
            color: white;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            cursor: pointer;
            border-radius: 30px;
        }
        
        .GoBackBtn:hover {
            background-color: #0bd830;
            background-position: right;
            font-size: 14px;
            color: gray;
        }
        #preview{
            height: 400px;
            width: 400px;
        }