body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);
}
p {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 65px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
}
.textBoxdiv {
    border: 1px solid none;
    background-color: rgb(255, 255, 255) ;
    border-radius: 30px;
    position: relative;
    margin: 0 auto;
    width: 70%;
    height: 6%;
}

.textBoxdiv input {
    background: none;
    border: none;
    outline: none;
    width: 80%;
    height: 100%;
    color: black;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.loginBtn {    
    height: 60px;
    width: 40%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
}

.loginBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: black;
}

.GoBackBtn {
    height: 60px;
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
}

.GoBackBtn:hover {
    background-color: #0bd830;
    background-position: right;
    font-size: 16px;
    color: gray;
}

.error-message {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #ffcccc;
    color: #cc0000;
    border: 1px solid #cc0000;
    border-radius: 5px;
    width: 300px;
}

.logo {
    width: 250px;
    margin: auto;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.welcomeLogo {
    width: 200px;
    height: 10%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.button-container {
    margin: 20px auto 0;
    width: 50%;
}

.button-container input {
    width: 100%; 
}

.form-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
.login-form{
    width: 400px;
    height: 550px;
}
.login-body {
    margin-top: 20px;
}
.login-header {

    margin-top: 15%;
}
  form {
    background-color: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);
    border-radius: 5%;
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.637) 0px 1px 4px;
  }
