body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);
}
.profile_img{
    width: 30%;
    height: 20%;
  }
  .welcomeLogo {
  width: 200px;
  height: 10%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }
  .logo {
    width: 300px;
    margin: auto;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

.ClaimRewardBtn{
    height: 50px;
    width: 40%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
}
.ClaimRewardBtn:hover {
    background-color: #0bd830; 
    background-position: center;
    font-size: 17px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.RewardsInfoBtn{
  height: 50px;
    width: 40%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
}
.RewardsInfoBtn:hover {
    background-color: #0bd830; 
    background-position: center;
    font-size: 17px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.LogoutBtn{
  height: 50px;
    width: 40%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: none;
    outline: none;
    background: #053d02;
    background-size: 200%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
}
.LogoutBtn:hover {
    background-color: #0bd830; 
    background-position: center;
    font-size: 17px;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }
.login-form{
    width: 400px;
    height: 550px;
}
  form {
    background-color: linear-gradient(to bottom,#053d02,#187f13,#18d22e,#60ff04);
    border-radius: 5%;
    text-align: center;
    width: 50%;
    box-shadow: rgba(0, 0, 0, 0.637) 0px 1px 4px;
  }

.upload-text {
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  color: white;
  font-size: 10px;
}

.upload-container {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center; 
  cursor: pointer;
  color: white;
}

.upload-text {
  font-size: 10px;
}

.profile-img-container img {
  width: 100%;
  height: auto;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-and-id-container {
  display: flex;
  align-items: center;
}

.profile-img-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.Id-num-container {
  flex-grow: 1; 
  margin-left: none;
  background-color: yellow; /* Add yellow background color */

}

.Id-num-container label {
  margin-bottom: 5px;
}
.textIdnum {
  width: 30%;
  background-color: rgba(255, 255, 0, 0.5); /* Yellow color with 50% opacity */
  border: none; /* Remove border */
}